@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding: 
        var(--scroll-padding, 4rem);
}
body {
    background-color: rgb(18, 18, 24);
}
#page-container {
    position: relative;
    width: 100%;
    min-height: 300vh;
}
#page-container-small {
    position: relative;
    width: 100%;
    min-height: 860px;
    background: linear-gradient(rgba(36, 36, 44, 0.5), rgba(36, 36, 44, 0.5)), url(../../images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-position: center top;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
#page-container-large {
    position: relative;
    width: 100%;
    min-height: 350vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#website-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    padding: 40px 60px;
    z-index: 100;
}
#website-header.static {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: rgb(36, 36, 48);
    z-index: 100;
}
#website-header.sticky {
    padding: 10px 60px;
    background-color: rgb(36, 36, 48);
}
#website-header .logo,
#website-header.static .logo {
    position: relative;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.4s;
}
#website-header #nav-bar ul,
#website-header.static #nav-bar ul,
#website-footer ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#website-header #nav-bar ul li,
#website-header.static #nav-bar ul li,
#website-footer ul li {
    position: relative;
    list-style: none;
}
#website-header #nav-bar ul li a,
#website-header.static #nav-bar ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    font-weight: 400;
    transition: 0.4s;
}
#banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../images/jake-blucker-8LlJNFLTEm0-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .inner {
    position: relative;
    text-align: center;
    flex-direction: column;
    margin: auto;
    padding: 8px;
    width: 240px;
    height: auto;
    border: 6px solid white;
    color: white;
    background-color: rgba(36, 36, 44, 0.5);
}
#banner .inner header {
    padding: 5px;
}
#banner .inner p {
    padding: 12px;
    font-weight: 400;
    color: white;
}
#banner .inner footer #learn-more-btn,
#portfolio-preview #see-more-btn {
    background-color:rgba(0, 0, 0, 0);
    border: 3px solid white;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}
#main {
    scroll-behavior: smooth;
    height: 100vh;
}
#portfolio-preview {
    height: 50vh;
}
#main, #portfolio-preview, #website-form {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    scroll-behavior: smooth;
}
#main h2, #portfolio-preview h2, #website-form h2 {
    margin: auto;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 3em;
    padding: 8px;
}
#main p, #portfolio-preview p, #website-form p {
    text-align: center;
    padding: 12px;
}
#website-form {
    text-align: center;
    margin-top: 50px;
    height: 100vh;
}
#website-form .text-boxes .row {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#website-form .text-boxes .row .small-box input,
#website-form .text-boxes .row .medium-box input,
#website-form .text-boxes .row .large-box textarea {
    padding: 10px;
    outline: 0;
    border: 1px solid white;
    color: white;
    background: transparent;
    font-size: 1em;
}
#website-form .text-boxes .row .small-box input {
    width: 100%;
}
#website-form .text-boxes .row .medium-box input,
#website-form .text-boxes .row .large-box textarea {
    width: 100%;
}
#website-form #submit-btn {
    background-color:rgba(0, 0, 0, 0);
    border: 3px solid white;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}
#website-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(36, 36, 48);
}
#website-footer #linkedin-icon,
#website-footer #github-icon {
    position: relative;
    width: 100px;
    padding: 20px;
}
.slideshow1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slideshow2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 450px;
    display: flex;
}

.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img {
    width: 300px;
    height: 450px;
}
.slider2 {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.slides2 {
    width: 500%;
    height: 400px;
    display: flex;
}
.slides2 input {
    display: none;
}
.slide2 {
    width: 20%;
    transition: 2s;
}
.slide2 img {
    width: 400px;
    height: 400px;
}
.navigation-manual {
    position: absolute;
    width: 300px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.navigation-manual2 {
    position: absolute;
    width: 400px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
}
.manual-btn, .manual-btn-2 {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child), .manual-btn-2:not(:last-child) {
    margin-right: 20px;
}
.manual-btn:hover, .manual-btn-2:hover {
    background: white;
}
#radio1:checked ~ .first {
    margin-left: 0;
} 
#radio2:checked ~ .first {
    margin-left: -20%;
} 
#radio3:checked ~ .first {
    margin-left: -40%;
} 
#radio4:checked ~ .first {
    margin-left: -60%;
} 
#radio-21:checked ~ .first2 {
    margin-left: 0;
} 
#radio-22:checked ~ .first2 {
    margin-left: -20%;
} 
#radio-23:checked ~ .first2 {
    margin-left: -40%;
} 
#radio-24:checked ~ .first2 {
    margin-left: -60%;
} 
#radio-25:checked ~ .first2 {
    margin-left: -80%;
} 
#radio-26:checked ~ .first2 {
    margin-left: -100%;
} 
#radio-27:checked ~ .first2 {
    margin-left: -120%;
} 
.navigation-auto {
    position: absolute;
    display: flex;
    width: 300px;
    justify-content: center;
    margin-top: 420px;
}
.navigation-auto div, .navigation-auto2 div {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child), .navigation-auto2 div:not(:last-child) {
    margin-right: 20px;
}
.navigation-auto2 {
    position: absolute;
    display: flex;
    width: 400px;
    justify-content: center;
    margin-top: 370px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: white;
}
#radio-21:checked ~ .navigation-auto2 .auto-btn-21 {
    background: white;
}
#radio-22:checked ~ .navigation-auto2 .auto-btn-22 {
    background: white;
}
#radio-23:checked ~ .navigation-auto2 .auto-btn-23 {
    background: white;
}
#radio-24:checked ~ .navigation-auto2 .auto-btn-24 {
    background: white;
}
#radio-25:checked ~ .navigation-auto2 .auto-btn-25 {
    background: white;
}
#radio-26:checked ~ .navigation-auto2 .auto-btn-26 {
    background: white;
}
#radio-27:checked ~ .navigation-auto2 .auto-btn-27 {
    background: white;
}